

.wrap {
  margin: 0 auto;
  padding-top:20px;


  width: 95%;
  min-width:500px;
}

.magicchart {
  display: inline-block;
  /*font-family:"Lucida Sans Unicode", Helvetica, Arial, sans-serif;*/
  font-family: Tahoma, Geneva, sans-serif;
  margin: 18px 60px 19px 20px;

}
#chart3 {
  /*margin-right: 10px;*/

}
.chartwrap {
  border-top: 1px solid black;
}

#chart1  .series-1,#chart1  .label-1 {
  fill : #9dce4e;
}
#chart1  .area {
  fill : #f5fbf1;
}
#chart1  .arealine {
  stroke : #9dce4e;
}
#chart1  .series-0,#chart1  .label-0 {
  fill : #435c1b;
}

#chart2  .series-0 ,#chart2  .label-0{
  fill : #2f4c5e;
}
#chart2  .series-1 ,#chart2  .label-1{
  fill : #8dc3df;
}
#chart2  .area {
  fill : #f4f8fb;
}
#chart2  .arealine {
  stroke : #8dc3df;
}

#chart3  .series-0, #chart3 .label-0 {
  fill : #a15025;
}
#chart3  .series-1, #chart3 .label-1 {
  fill : #e2bb3c;
}
#chart3  .area {
  fill : #fcf9f2;
}
#chart3  .arealine {
  stroke : #e2bb3c;
}

.magicchart .label-title {
  font-size: 18px;
  fill: #888888;
}
.magicchart .label-value {
  font-size: 25px;
}
.magicchart .highlight {
  font-size: 18px;
}
.magicchart .value {
  color: #888888;
  font-size: 16px;
}
.breakOutWrap {
  display:inline-block;
  width:100%;
}
.cat1 {
  float:left;
  display:inline-block;
}
.cat2 {
  float:right;
  display:inline-block;
}

.swiper-container {
  width: 100%;
  height: 350px;
  margin: 20px auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
